.App {
  --color-error: #db1414;
  --color-success: #00fc4c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.App-welcome {
  text-align: center;
  justify-content: flex;
  color: rgb(20, 94, 36);
  font-family: Georgia;
  font-size: 20pt;
  font-weight: bolder;

}

.App-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: flex;
  color: rgb(20, 94, 36);
  font-size: 15pt;
  font-weight: bolder;
}

.App-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

.App-list {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: flex;
}


.App-additionalTitle {
  color: rgb(3, 3, 3);
  text-align: center;
  justify-content: flex;
  font-size: 12pt;
}

.App-additionalInfo {
  color: rgb(3, 3, 3);
  text-align: center;
  justify-content: flex;
  font-size: 9pt;
}

.App-label {
  text-align: left;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: white;

}

.App-form {
  display: contents;
  width: 80%;
  padding: 1rem;
  box-sizing: border-box;
  margin-left: 20%;
  margin-top: 20%;
  border-radius: var(--border-radius);
  transition: background 0.2s, border-color 0.2s;
}

.App-link {
  text-align: right;
  color: #10d419;
  outline-color: #10d419;
}


.App-button {
  width: fit-content;
  height: fit-content;
  display: contents;
  padding: 1rem 2rem;
  gap: 10rem;
  margin: 5px;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  outline-color: green;
  background-color: #18c421;
}


.App-container {
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 200px;
  max-width: 400px;
  margin: 5rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  background: hsla(0, 0%, 100%, 0.329);
}

.App-account {
  justify-content: center;
  width: 400px;
  padding: 2rem;
  margin: 10rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: hsla(0, 0%, 100%, 0.329);
}

.App-information {
  justify-content: justify;
  text-align: justify;
  justify-content: flex;
  width: 800px;
  max-width: 400px;
  margin: 10rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  background: hsla(0, 0%, 100%, 0.329);
}

.App-main {
  width: 100px;
  max-width: 200px;
  margin: 7rem;
  box-shadow: 0 0 40px rgb(0, 0, 0);
  border-radius: var(--border-radius);
  background: hsl(0, 0%, 99%);
}

.App-table {
  margin: 7rem;
  padding: 1rem;
  padding-left: 5rem;
  color: black;
  align-content: center;
  align-items: center;
  box-shadow: 0 0 40px rgb(0, 0, 0);
  border-radius: var(--border-radius);
  background: hsl(0, 0%, 99%);
}

.App-picture {
  margin: 3rem;
}

.bedability {
  padding: 12px;
  font-family: Georgia;
  font-size: 20pt;
  color: skyblue;
}

.bg-background {
  background-color: darkgreen;
}

.content {
  margin: 60px;
  padding: 12px;
  height: 3000px;
}

.color {
  color: rgb(47, 127, 231);
  text-align: center;
}

.color1 {
  color: orange;
  text-align: center;
}

.color2 {
  color: red;
  text-align: center;
}

.center {
  text-align: center;
}

.table {
  font-family: Arial;
  max-width: 300px;
  max-height: 600px;
  display: contents;
}

table td {
  width: 800px;
  border: 1px solid #ddd;
  padding: 10px;
  align-items: center;
  align-content: center;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  border: 1px solid #ddd;
  text-align: center;
  align-items: center;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
}

.vertical-scrollable> .row {
  position: absolute;
  top: 120px;
  bottom: 100px;
  left: 180px;
  width: 50%;
  overflow-y: scroll; 
}
.col-sm-8 { 
    color: white; 
    font-size: 24px; 
    padding-bottom: 20px; 
    padding-top: 18px; 
} 
  
.col-sm-8:nth-child(2n+1) { 
    background: green; 
} 
  
.col-sm-8:nth-child(2n+2) { 
    background: black; 
} 


#header {
  position: absolute;
  width: 220px;
}
#header .pro-sidebar {
  height: 100vh;
}
#header .closemenu {
  color: #000;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}
#header .pro-sidebar {
  width: 100%;
  min-width: 100%;
}
#header .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#header .pro-sidebar-inner {
  background-color: white;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
#header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 20px;
  color: #000;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #000;
  margin: 10px 0px;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  background-color: #fbf4cd;
  color: #000;
  border-radius: 3px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
  color: #000;
}
#header .pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
}
#header .logo {
  padding: 20px;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}